        header {
            margin: 0px -20px 10px -20px;
        }

        nav {
            margin: 10px -20px 20px 20px;
        }

        body {
            font-family: 'Tahoma', sans-serif;
            margin: 0px 50px 0px 50px;
        }
        
        table{
            width:100%;
            border-collapse: collapse;
            font-size:120%;
        }
        
        td{
            border: 1px solid #000;
        }